div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: normal;
}

.back {
  margin-left: 3rem;
  font-style: normal;
  text-decoration: underline;


}

a {
  font-weight: normal;
  cursor: pointer;
}

a:hover {
  font-style: italic;
}